@model QuizWebApp.Models.QuizWebAppDb
@using QuizWebApp
@using QuizWebApp.Models
@using QuizWebApp.Helpers
@{
    var q = Model.Questions.Find(Model.Contexts.First().CurrentQuestionID);
    var playerID = this.User.Identity.UserId();
    var yourAns = Model.Answers.First(a => a.PlayerID == playerID && a.QuestionID == q.QuestionId);
    var chosen = yourAns.ChosenOptionIndex >= 0 ? q.GetOptions()[yourAns.ChosenOptionIndex - 1] : null;
    //★
    var user = Model.Users.First(u => u.UserId == playerID);
}
<h4>現在のスコア：@(user.Score)</h4>

<h3>問題</h3>

<div class="well well-small">
    <div>
        @Html.FormatToHtml(q.Body, q.BodyFormat)
    </div>
</div>

<h3>あなたが選択した回答:</h3>

<div class="well well-small">

    <div class="optios">
        @if (chosen == null)
        {
            <p>※回答は選択されませんでした</p>
        }
        else
        {
            <div>@(chosen.Option)</div>
            if (string.IsNullOrEmpty(chosen.OptionImage) == false)
            {
                <img src="@chosen.OptionImage" />
            }
        }
    </div>
</div>

<p class="label label-wait"><i class="icon-info-sign icon-white"></i> 司会者によって正解が表示されるまで<br>そのままお待ちください。</p>
